.column {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 24px;
  gap: 12px;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  max-width: 80px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  gap: 20px;
  place-items: center;
}
